<h2>Welcome</h2>
<span>Feel free to explore our website, view our catalog, sign up for the full experience, 
create your own anime list with your anime of interest, for the specials where you really love them, 
feel free to also favorite. Check all these options in the navigation menu</span>

